.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  gap: 15px;
}

#alarmSet {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1.5px solid #0e85b9;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #110505;
  margin-bottom: 20px;
}

@keyframes blink-bg {
  0%, 100% {
    background-color: rgb(253, 250, 252);
  }
  50% {
    background-color: #ffccfc;
  }
}

.blinking {
  animation: blink-bg 1s linear 5;
}


